.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articles h1 {
    width: 100%;
    font-size: 30px;
}

article { 
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #280842;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    position: relative;
    z-index: -1;
}
.information {
    display: flex;
    flex-wrap: wrap;
}

article h2 {
    font-size: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 10%
    
}
body {
    margin: 0;
    background: linear-gradient(to left,rgb(177, 177, 236),rgb(222, 221, 221)) ;
}









.user {
    margin: 10px auto;
}

/*
justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content
*/
